examples/.ipynb_checkpoints
tempest.egg-info/
tempest/__pycache__/
tempest/utils/__pycache__/
tempest/sinf/__pycache__/
docs/build/
.DS_Store
tempest/docs/.DS_Store
tempest/docs/build/.DS_Store
tempest/docs/source/.DS_Store
*.egg-info
*.pyc
*.so
*.dylib
*.egg
.DS_Store
docs/.DS_Store
docs/source/.DS_Store
states/
.pytest_cache/
.vscode/
.ipynb_checkpoints/
tests/__pycache__/
.venv/
.ruff_cache/
AGENTS.md